.hero-cta-btn {
  background-color: #E5782B; /* Green */
  border: none;
  border-radius: 50px; /* Pill shape */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  text-decoration: none; /* Optional: Removes underline from links */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Drop shadow */
}

.hero-cta-btn:hover, .btn-evening .btn:hover {
  background-color: black; /* Inverted background color */
  color: #E5782B; /* Inverted text color */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Optional: Enhance shadow on hover */
}
