<p class="h2 mb-4 text-center">Financial Aid Application</p>
<div class="d-flex justify-content-center mb-5">
    {{ form.media }}
    <form method="post" enctype="multipart/form-data" class="needs-validation text-start">
        {% csrf_token %}
        <div class="form-floating">
            {% for field in form %}
            {% if field.name == 'all_day_event' %} <!-- Check if the field is 'all_day_event' -->
                <div class="form-check form-switch"> <!-- Apply Bootstrap toggle classes -->
                    {{ field }}
                    <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label }}</label>
                </div>
            {% else %}
                <div class="form-group {% if field.field.widget.input_type != 'file' %}form-group-vertical{% endif %}">
                    {% if field.field.widget.input_type == 'checkbox' %}
                        <div class="form-check">
                            {{ field }}
                            <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label }}</label>
                        </div>
                    {% else %}
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% endif %}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary mt-4">Save</button>
    </form>

    <script>
        $(document).ready(function() {
            $('.s2').select2();
        });
    </script>

</div>