<div class="pb-3">
    {% if messages %}
        {% for message in messages %}
        <div class="m-auto mb-3 alert
        {% if message.tags == 'success' %}
            alert-success
        {% elif message.tags == 'error' %}
            alert-danger
        {% else %}
            alert-info
        {% endif %}
        alert-dismissible fade show" role="alert" style="max-width: 500px;">
            {{ message }}
            <button type='button' class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
</div>