<nav class="navbar bg-body-secondary navbar-expand-lg martial-arts-primary ps-3" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#hero">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#value">The Program</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#benefits">Why Train?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#signUp">Sign Up NOW!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faqs">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>