html {
  font-size: 18px;
}
body {
  margin: 0;
  line-height: normal;
}

a {
  list-style: none!important;
}
:root {
  /* Colors */
  --color-white: #fff;

  /* Paddings */
  --padding-xl: 1.111rem;
}
