{% load static %}

  <div class="text-center" style="padding-bottom: 15%;">

    <div class="mb-4">
      <p class="h1 mb-3">Program Details</p><br />

      <p class="fs-5"><strong>Duration:</strong> 6 Weeks</p><br />
  
      <p class="fs-5"><strong>Start Date:</strong> June 10, 2024</p>
      <p class="fs-5"><strong>End Date:</strong> July 19, 2024</p><br />
  
      <p class="fs-5"><strong>Day to Register:</strong> June 8, 2024</p>
      <p class="fs-5"><strong>Orientation Day</strong> 1-3pm on June 8, 2024</p><br />
    </div>

    <div class="mt-4">
      <p class="h4">SCHEDULE</p>
      <table class="table fs-5">
        <thead>
          <tr>
            <td>Day</td>
            <td>Time</td>
            <td>Class</td>
            <td>Instructor</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>M</th>
            <td>12:30pm - 1:30pm</td>
            <td>Shaolin Kung Fu</td>
            <td>Alex</td>
          </tr>
          <tr>
            <th>W</th>
            <td>12:30pm - 1:30pm</td>
            <td>Filipino Martial Arts</td>
            <td>Nain</td>
          </tr>
          <tr>
            <th>Fri</th>
            <td>12pm - 1:30pm</td>
            <td>Nogi JiuJitsu</td>
            <td>Von</td>
          </tr>
          <tr>
            <th>Fri</th>
            <td>1:30pm - 3pm</td>
            <td>Nogi JiuJitsu</td>
            <td>Von</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-auto">
        <div class="hero-cta-btn text-center mt-5">
          <a href="https://www.mymemberaccount.com/member-enrollment/10495/group/8651" class="btn">Sign Up NOW</a>
        </div>
      </div>
    </div>
    
  </div>