{% load static %}

<!-- BENEFITS -->
<div class="mb-5">
  <img
    class="swivel-seperator"
    alt=""
    src="{% static 'martialarts/images/bottom-value-prop.svg' %}"
  />
</div>

<div
  id="benefits"
  style="padding-left: 12%; padding-right: 12%;"

>
  <div class="text-center" style="padding-bottom: 15%;">
    <p class="h1 mb-4">We don't want finances to be a barrier</p>

    <p class="fs-4 mb-4">
      Use the form below to both register for our event and apply for financial assistance.
    </p><br />

    <div class="mb-4">
      <p class="h3 mb-3">Program Details</p><br />

      <p class="fs-5">Duration: 6 Weeks</p><br />
  
      <p class="fs-5">Start Date: June 3, 2024</p>
      <p class="fs-5">End Date: July 11, 2024</p><br />
  
      <p class="fs-5">Last Day to Register: June 1, 2024</p>
      <p class="fs-5">Orientation Day: June 1, 2024</p><br />
    </div>

    <div class="mt-4">
      <p class="h4">SCHEDULE</p>
      <ul class="fs-5">
        <li>M @ 12:30pm - Alex - Shaolin Kung Fu</li>
        <li>W @ 12:30pm - Nain - Filipino Martial Arts</li>
        <li>Fri @ 12pm - Von - Nogi JiuJitsu</li>
        <li>Fri @ 1:30pm - Von - Nogi JiuJitsu</li>
      </ul>
    </div>

    <p class="h4 mb-4">Cost: $540 per child</p>
    
  </div>
</div>