{% load static %}

  <div class="text-center" style="padding-bottom: 15%;">

    <div class="mb-4">
      <p class="h3 mb-3">Program Details</p><br />

      <p class="fs-5">Duration: 6 Weeks</p><br />
  
      <p class="fs-5">Start Date: June 3, 2024</p>
      <p class="fs-5">End Date: July 11, 2024</p><br />
  
      <p class="fs-5">Last Day to Register: June 1, 2024</p>
      <p class="fs-5">Orientation Day: June 1, 2024</p><br />
    </div>

    <div class="mt-4">
      <p class="h4">SCHEDULE</p>
      <ul class="fs-5">
        <li>M @ 12:30pm - Alex - Shaolin Kung Fu</li>
        <li>W @ 12:30pm - Nain - Filipino Martial Arts</li>
        <li>Fri @ 12pm - Von - Nogi JiuJitsu</li>
        <li>Fri @ 1:30pm - Von - Nogi JiuJitsu</li>
      </ul>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-auto">
        <div class="hero-cta-btn text-center mt-5">
          <a href="https://www.mymemberaccount.com/member-enrollment/10495/group/8651" class="btn">Sign Up NOW</a>
        </div>
      </div>
    </div>
    
  </div>