{% load static %}

<!-- BENEFITS -->
<div class="mb-5">
  <img
    class="swivel-seperator"
    alt=""
    src="{% static 'martialarts/images/bottom-value-prop.svg' %}"
  />
</div>

<div
  id="benefits"
  style="padding-left: 12%; padding-right: 12%;"

>
  <div class="text-center" style="padding-bottom: 15%;">
    <p class="h3 mb-4">Master 3 Martial Art</p>

    <p class="h1 mb-4">A rare opportunity to immerse Your Child in three distinct Martial Arts!</p>

    <p class="fs-4">Our exclusive 6 Week Martial Arts Summer Camp offers a unique opportunity to experience the dynamic fluidity of Shaolin Kung Fu, the intricate weapon-based techniques of Filipino Martial Arts, and the strategic grappling power of No-Gi Jiu-Jitsu.  Each class is tailored to elevate your child's skills, confidence, and spirit. Join us and help redefine your child's limits while connecting them with a diverse community of martial artists!</p>
  </div>
</div>