{% load static %}

<!-- HERO -->
<section class="pt-4 pt-md-11 mb-5" id="hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2">

        <!-- Image -->
        <img src="{% static 'martialarts/images/sun-tree@2x.png' %}" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up" data-aos-delay="100">

      </div>
      <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">

        <!-- Heading -->
        <h1 class="display-3 text-center text-md-start">
          Welcome to the <span class="martial-arts-primary-text">2024</span> Summer<br>
          Martial Arts Camp
        </h1>

        <!-- Text -->
        <p class="lead text-center text-md-start text-body-secondary mb-6 mb-lg-8">
          Build strength and self-defense skills in a fun collaborative environment.
        </p>

        <!-- Buttons -->
        <div class="hero-cta-btn text-center ms-5 col-md-8">
          <a href="{% url 'apply' %}" class="btn">Sign Up NOW</a>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>