{% load static %}

<!-- VALUE -->
<div>
  <img
    class="swivel-seperator"
    alt="hero_background"
    src="{% static 'martialarts/images/hero-background@2x.png' %}"
  />
</div>

<section
  id="value"
  class="value-proposition section-between-swivels"
  style="padding-left: 12%; padding-right: 12%;"
>

  <img
    class="kali-icon"
    loading="lazy"
    alt="kali_guy"
    src="{% static 'martialarts/images/kali.svg' %}"
  />

  <div class="text-center" style="padding-bottom: 15%;">
    <p class="h3 mb-4">Unleash Your Potential</p>

    <p class="h1 mb-4"> Embark on a transformative journey</p>
  
    <p class="fs-4">
      Our Summer Camp isn't just about giving your child something to do while school it out; it's an avenue to help them build resilience, enhance physical fitness, and cultivate mental discipline. Our holistic approach ensures your child gains not only self-defense skills but also offers an opportunity to understand the cultural and philosophical underpinnings of each martial art. Embrace this summer as a time for growth, challenge, and the thrilling exploration of martial arts like never before.
    </p>
  </div>

  <img
    class="shaolin-kung-fu-icon"
    loading="lazy"
    alt="kung_fu_guy"
    src="{% static 'martialarts/images/shaolin_kung_fu.svg' %}"
  />
</section>